<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Axa Server</title>
</head>

<style>
    * {
        font-family: Arial, Helvetica, sans-serif;
        color: #3a4d57;
        text-align: center;
    }

    body {
        background-color: #F6F6F6;
    }

    img {
        width: 35%;
        border-radius: 10px;
    }

    strong {
        color: #3CCDBB;
    }
</style>

<body>
    <img src="https://axa.mx/documents/10928/0/axa_logo_solid_rgb.png" alt="">
    <h1>AXA Server <strong>Online</strong> </h1>
</body>

</html>